@import './_mixins'

.services
  +flexCol()
  align-items: center
  width: 100vw
  height: auto
  // background-color: #388af3
  // background: linear-gradient(270deg, #388AF3 21.04%, #A483E2 88.77%)
  .servicesText
    width: 80%
    height: auto
    color: black
    .servicesCaption
      font-size: clamp(1.6rem, 3vw, 2.5rem)
      font-weight: 900
      text-transform: uppercase
    .servicesDesc
      font-weight: 400
      font-size: clamp(1.1rem, 2vw, 1.4rem)
      line-height: clamp(1.6rem, 2vw, 4rem)
  .listServices
    +flexRow()
    justify-content: space-evenly
    flex-wrap: wrap
    width: 100%
    height: auto
    margin-top: 20px
    padding-bottom: 20px
    .serviceEl
      width: 280px
      height: auto
      border-radius: 15px
      border: 2px solid #e6e6e6
      padding: 10px
      margin-bottom: 10px
      color: black
      background: hsla(0, 71%, 99%, 1)
      background: linear-gradient(45deg, hsla(0, 71%, 99%, 1) 53%, hsla(214, 89%, 59%, 1) 53%)
      background: -moz-linear-gradient(45deg, hsla(0, 71%, 99%, 1) 53%, hsla(214, 89%, 59%, 1) 53%)
      background: -webkit-linear-gradient(45deg, hsla(0, 71%, 99%, 1) 53%, hsla(214, 89%, 59%, 1) 53%)
      .leftService
        +flexCol()
        align-items: center
        h3
          color: white

      .descService
        text-align: center
        line-height: clamp(1.3rem, 2vw, 1.5rem)
    .serviceEl:hover
        +cursorHand()

      
  
.information
  +flexCol()
  align-items: center
  width: 100vw
  height: auto
  margin-top: 50px
  .text
    +flexCol()
    align-items: flex-start
    width: 80%
    height: auto
    .caption
      width: 100%
      height: auto
      margin-bottom: 0px
      font-size: clamp(1.6rem, 3vw, 2.5rem)
      font-weight: 900
      color: #343434
      text-transform: uppercase
      user-select: none
      transform: translateY(0)
      transition: 1s
    .hideCaption
      transform: translateY(-50px)
      opacity: 0
    .description
      font-weight: 400
      font-size: clamp(1.1rem, 2vw, 1.4rem)
      line-height: clamp(1.6rem, 2vw, 4rem)
      color: #343434
  .technology
    +flexRow()
    justify-content: space-between
    align-items: center
    width: 80%
    height: auto
    .svgTech
    .listTech
      +flexCol()
      width: 100%
      height: auto
      .column
        +flexRow()
        width: 100%
        .elTech
          +flexCol()
          align-items: center
          width: 100%
          height: auto
          border-radius: 15px
          padding-top: 10px
          padding-bottom: 10px
          padding-left: 20px
          padding-right: 20px
          margin-bottom: 20px
          margin-right: 20px
          border: 1px solid #e2e2e2
          transition: all .7s
          .textTech
            +flexCol()
            align-items: center
            .captionTech
              margin-top: 0px
              margin-bottom: 5px
              text-align: center
              font-weight: 800
              font-size: 1.2rem
              line-height: 3rem
              color: #343434
              transition: .7s
            .descTech
              text-align: start
              font-weight: 400
              font-size: clamp(.8rem, 1.5vw, 1rem)
              line-height: 150%
              color: #343434
              transition: .7s
          .iconTech
            +flexCenter()
            width: 100%
            height: auto
            transition: .7s
            opacity: 1
            margin-bottom: 0px
        .elTech:hover
          transition: .8s
          transform: translateY(-2px)
          .iconTech
            opacity: 1
            margin-bottom: 0px

+mobile()
  .information
    .technology
      width: 70%
      .listTech
        .column
          flex-direction: column !important
          .elTech
            .captionTech
              line-height: 2rem !important
